# Gradle and Build directories
.gradle/
build/
out/

# Log files
*.log

# Java Class files
*.class

# IDE specific settings
.idea/
*.iml
*.ipr
*.iws
.vscode/
.project
.classpath
.settings/

# System specific files
.DS_Store
Thumbs.db
